<footer class="footer-area">
  <div class="testimonial-area">
    <div class="testimonial-solid">
      <div class="container">
        <div class="testi-icon-area">
          <div class="quote"><i class="fa fa-microphone"></i></div>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                <a href="#"></a>
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="1">
                <a href="#"></a>
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="2">
                <a href="#"></a>
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="3">
                <a href="#"></a>
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
              <p><b>- Elève X, Web développeur Ruby, WCS 2ème promo -</b></p>
            </div>
            <div class="item">
              <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
              <p><b>- Elève X, Web développeur Javascript, WCS 2ème promo -</b></p>
            </div>
            <div class="item">
              <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
              <p><b>- Elève X, Web développeur Ruby, WCS 2ème promo -</b></p>
            </div>
            <div class="item">
              <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
              <p><b>- Pierre Paul, Formateur WCS -</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-content">2016 Eric Merlin | Etudiant Wild Code School</a></div>
</footer>