<div class="col-md-4">
        <div class="skill-area">
          <h5>Compétences Web</h5>
          <hr>
          <div>
            <ul class="skill-dots">
              <li>
                <span class="title">Rails</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Ruby</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">html</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">css</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Bootstrap</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Sass</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Compass</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Cms (Bolt)</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="skill-area">
          <h5>Outils Web</h5>
          <hr>
          <div>
            <ul class="skill-dots">
              <li> <span class="title">Github</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
              <li> <span class="title">Scrum</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
              <li> <span class="title">Waffle</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
              <li> <span class="title">Linux</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
            </ul>
          </div>
        </div>
        <div class="skill-area">
          <h5>Langues</h5>
          <hr>
          <div>
            <ul class="skill-dots">
              <li>
                <span class="title">Anglais</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Espagnol</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>