<article class="home-page animated" id="home">
  <div class="row">
    <div class="col-md-6 home-profile">
      <div class="home-profile-image">
        <%= image_tag("eric.jpg") %>
      </div>
      <div class="home-profile-quick">
        <h4>Information</h4>
        <p>Obtention du titre de<br>Développeur logiciel - Niveau III<br>depuis le 09 décembre 2016
        </p>
        <%= link_to "<i class='fa fa-eye'></i>      VOIR MON PROFIL".html_safe, profil_path, class: "view-profile" %>
      </div>
    </div>
    <div class="col-md-6 home-details">
      <h1><span>Bonjour, je suis</span><br>Eric Merlin</h1>
      <h2>Web développeur Fullstack Ruby on Rails</h2>
      <hr>
      <p class="medium"><i>Demain ne sera pas comme hier. Il sera nouveau et dépendra de nous.<br>Il est moins à découvrir qu'à inventer. (Gaston Berger)</i></p>
      <ul class="social">
        <li><%= link_to "<i class='fa fa-github'></i>".html_safe, 'https://github.com/riquet28', :target => "_blank" %></li>
        <li><%= link_to "<i class='fa fa-linkedin'></i>".html_safe, 'https://fr.linkedin.com/in/eric-merlin-563464101', :target => "_blank" %></li>
      </ul>
    </div>
    <div class="col-md-12 skill-home">
      <div class="skill-home-solid clearfix">
        <div class="col-md-3">
          <h2>Parmis mes<br><span>compétences</span></h2>
        </div>
        <div class="col-md-3 text-center"> <span class="icons"><i class="fa fa-code"></i></span>
          <h3>Programmation Web</h3>
          <p>Ruby, Ruby on Rails et prochainement jQuery et Javascript ...</p>
        </div>
        <div class="col-md-3 text-center"> <span class="icons"><i class="fa fa-html5"></i></span>
          <h3>Intégration Web</h3>
          <p>Html5, Css3, Twitter-Bootstrap, Sass, Compas ...</p>
        </div>
        <div class="col-md-3 text-center"> <span class="icons"><i class="fa fa-wrench"></i></span>
          <h3>Outils Web</h3>
          <p>Git et Github, Waffle, Stackoverflow ...</p>
        </div>
      </div>
    </div>
  </div>
</article>
