<article class="common-inner animated clearfix" id="contact">
  <div class="common-image">
    <div class="image-cont"><%= image_tag("eric.jpg") %></div>
  </div>
  <div class="profile-cont">
    <div class="profile-top">
      <h2>Bonjour, je suis <span>Eric Merlin</span></h2>
      <h3>Mon profil vous interresse ? Prenons un café !</h3>
      <ul class="social">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="row profile-middle-content clearfix">
      <div class="col-md-12 contact-map">
        <iframe class="map_iframe" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Melbourne,+Victoria,+Australia&amp;aq=0&amp;oq=mel&amp;sll=21.125498,81.914063&amp;sspn=21.895104,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=Melbourne+Victoria,+Australia&amp;ll=-37.814107,144.96328&amp;spn=0.291298,0.676346&amp;t=m&amp;z=11&amp;output=embed">
        </iframe>
        <br/> <small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Melbourne,+Victoria,+Australia&amp;aq=0&amp;oq=mel&amp;sll=21.125498,81.914063&amp;sspn=21.895104,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=Melbourne+Victoria,+Australia&amp;ll=-37.814107,144.96328&amp;spn=0.291298,0.676346&amp;t=m&amp;z=11" style="color:#0000FF;text-align:left"></a></small>
      </div>
      <div class="col-md-12 contact-form">
        <h3>M'envoyer un message</h3>
        <form name="contact" method="post">
          <div id="contact-form">
            <input type="text" name="name" id="contact-name" class="your-name" placeholder="Votre Nom">
            <input type="text" name="email" class="your-email" id="contact-email" placeholder="Votre Email">
            <input type="text" name="phone" class="your-phone" id="contact-phone" placeholder="Votre Téléphone">
            <textarea cols="10" rows="4" name="message" id="contact-msg" class="your-message" placeholder="Votre Message"></textarea>
            <button type="submit" id="contact-submit" name="submit" class="submit-btn">Envoyer</button>
          </div>
          <div id="contact-loading"> Email Sending... </div>
          <div id="contact-success"> Your message sent sucessfully to our team and they will be in touch with you asap. </div>
          <div id="contact-failed"> Error, message sending faild , try after sometime. </div>
        </form>
      </div>
      <div class="col-md-12 contact-adress">
        <h3>Contact info</h3>
        <p><b>Téléphone :</b> 06.26.63.31.47</p>
        <p><b>Email :</b> <a href="#">eric.merlin3@gmail.com</a></p>
      </div>
    </div>
  </div>
</article>
