<article class="common-inner animated clearfix" id="resume">
  <div class="common-image">
      <div class="image-cont"><%= image_tag("eric.jpg") %></div>
  </div>
  <div class="profile-cont">
    <div class="profile-top">
      <h2>Bonjour, je suis <span>Eric Merlin</span></h2>
      <h3>Ici vous pouvez voir mon CV</h3>
    </div>
    <div class="row profile-middle-content clearfix">
      <div class="col-md-8">
        <div class="my-employment">
          <div class="my-education">
            <h3>Mes Formations</h3>
            <div class="education">
              <h4>Wild Code School – <i>Certification Développement Web </i></h4>
              <p>Formation intensive de 5 mois. Session du 31/08/2015 au 29/01/2016. Apprentissage du code, mise en place et réalisation de projets professionnels.
              </p>
            </div>
            <div class="education">
              <h4>OpenClassroom – <i>Cours et Tutoriels </i></h4>
              <p>Afin de préparer au mieux ma formation à la Wild code School, j'ai suivi les cours d'OpenClassroom en autodidacte et obtenu plusieurs certifications telle que : "Community Manager", "Programmation avec Ruby", "Php et MySql", "Bootstrap", "Linux" et bien d'autres encore...
              </p>
            </div>
          </div>
          <h3>Mes Expériences</h3>
          <div class="employment">
            <h4>Coursier – <i>West Coursiers [ 2010 - 2014]</i></h4>
            <p>Courses et livraisons de plis et petits colis en moto sur Paris et Ile de France. Courses ponctuelles
             et organisation et gestion de tournées.
            </p>
          </div>
          <div class="employment">
            <h4>Coursier – <i>Diverses Sociétés [ 1993 - 2010]</i></h4>
            <p>Courses et livraisons de plis et petits colis en moto sur Paris et Ile de France. Courses ponctuelles
             et organisation et gestion de tournées (dont 10 ans à mon compte).
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="skill-area">
          <h5>Compétences Web</h5>
          <hr>
          <div>
            <ul class="skill-dots">
              <li>
                <span class="title">Rails</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Ruby</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">html</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">css</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Bootstrap</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Sass</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Compass</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Cms (Bolt)</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="skill-area">
          <h5>Outils Web</h5>
          <hr>
          <div>
            <ul class="skill-dots">
              <li> <span class="title">Github</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
              <li> <span class="title">Scrum</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
              <li> <span class="title">Waffle</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
              <li> <span class="title">Linux</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> </li>
            </ul>
          </div>
        </div>
        <div class="skill-area">
          <h5>Langues</h5>
          <hr>
          <div>
            <ul class="skill-dots">
              <li>
                <span class="title">Anglais</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
              <li>
                <span class="title">Espagnol</span> <span class="filled"></span> <span class="filled"></span> <span class="filled"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span> <span class="transparent"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><a href="#" class="download-resume"><span class="solid">Télécharger <b>Mon CV</b></span></a> </div>
    </article>
