<article class="common-inner animated clearfix" id="resume">
  <div class="common-image">
      <div class="image-cont"><%= image_tag("eric.jpg") %></div>
  </div>
  <div class="profile-cont">
    <div class="profile-top">
      <h2>Bonjour, je suis <span>Eric Merlin</span></h2>
      <h3>Ici vous pouvez voir mon CV</h3>
    </div>
    <div class="row profile-middle-content clearfix">
      <div class="col-md-8">
        <div class="my-employment">
          <div class="my-education">
            <h3>Mes Formations</h3>
            <div class="education">
              <h4>Wild Code School – <i>Titre Développeur Logiciel - Niveau III </i></h4>
              <p>Obtention du titre de Développeur Logiciel - Niveau III le 09 décembre 2016.
              </p>
            </div>
            <div class="education">
              <h4>Wild Code School – <i>Certification Développement Web avec mention </i></h4>
              <p>Formation intensive de 5 mois. Session du 31/08/2015 au 29/01/2016. Apprentissage du code, mise en place et réalisation de projets professionnels.
              </p>
            </div>
            <div class="education">
              <h4>OpenClassroom – <i>Cours et Tutoriels </i></h4>
              <p>Afin de préparer au mieux ma formation à la Wild code School, j'ai suivi les cours d'OpenClassroom en autodidacte et obtenu plusieurs certifications telle que : "Community Manager", "Programmation avec Ruby", "Php et MySql", "Bootstrap", "Linux" et bien d'autres encore...
              </p>
            </div>
          </div>
          <h3>Mes Expériences</h3>
          <div class="employment">
            <h4>Développeur Junior (Freelance) – <i>Multi-clients [ Juin 2016 - Actuellement ]</i></h4>
            <p>Actuellement je collabore comme freelance dans differents projets, création d'applications, créations de site web, créations de site e-commerce auprès de différents clients...
            </p>
          </div>
          <div class="employment">
            <h4>Développeur Junior (Stage 4 mois) – <i>Ponéo [ Février 2016 - Juin 2016 ]</i></h4>
            <p>Reprise et poursuite de l'application commencée par d'autres étudiants de la WCS, changement d'architecture, fix des bugs, développement de nouvelles fonctionnalités, mise en place des tests et un travail de front.
            </p>
          </div>
          <div class="employment">
            <h4>Coursier – <i>West Coursiers [ 2010 - 2014 ]</i></h4>
            <p>Courses et livraisons de plis et petits colis en moto sur Paris et Ile de France. Courses ponctuelles et organisation et gestion de tournées.
            </p>
          </div>
          <div class="employment">
            <h4>Coursier – <i>Diverses Sociétés [ 1993 - 2010 ]</i></h4>
            <p>Courses et livraisons de plis et petits colis en moto sur Paris et Ile de France. Courses ponctuelles et organisation et gestion de tournées (dont 10 ans à mon compte).
            </p>
          </div>
        </div>
      </div>

      <%= render 'competences' %>

    </div>
    <%= link_to download_pdf_path, :class => "download-resume" do %>
      <span class="solid">
        <i class="fa fa-arrow-circle-down" style="margin-right: 20px;"></i>
          Télécharger <b>Mon CV</b>
        <i class="fa fa-arrow-circle-down" style="margin-left: 20px;"></i>
      </span>
    <% end %>
  </div>
</article>
