<article class="common-inner animated clearfix" id="profile">
  <div class="common-image">
      <div class="image-cont"><img src="img/eric.jpg" alt=""></div>
  </div>
  <div class="profile-cont">
    <div class="profile-top">
      <h2>Bonjour, je suis <span>Eric Merlin</span></h2>
      <h3>Web développeur Fullstack Ruby on Rails</h3>
    </div>
    <div class="row profile-col-cont">
      <div class="col-md-4 text-center"> <span class="icons"><i class="fa fa-code"></i></span>
        <h3>Programmation Web</h3>
        <p>Ruby, Ruby on Rails et prochainement jQuery et Javascript ...</p>
      </div>
      <div class="col-md-4 text-center"> <span class="icons"><i class="fa fa-html5"></i></span>
        <h3>Intégration Web</h3>
        <p>Html5, Css3, Twitter-Bootstrap, Sass, Compas ...</p>
      </div>
      <div class="col-md-4 text-center"> <span class="icons"><i class="fa fa-wrench"></i></span>
        <h3>Outils Web</h3>
        <p>Git et Github, Waffle, Stackoverflow ...</p>
      </div>
    </div>
    <div class="row profile-middle-content clearfix">
      <div class="col-md-6">
        <h3>Quelques mots pour me présenter ...</h3>
        <p>
          Après avoir passé plus de 20 ans dans le Transport, il était temps de raccrocher la moto. J'ai alors décidé d'orienter ma reconversion professionnelle dans l'informatique et plus précisément le Web, secteur qui me passionne depuis toujours. J'ai donc candidaté à la Wild Code School où j'ai été admis pour la session Août 2015 - Janvier 2016. Motivé à 300% j'ai également suivi les cours et tutoriels OpenClassroom afin de préparer au mieux cette formation.
        </p>
        <p>Pendant ces 5 mois, je me suis orienté Ruby et Ruby on Rails. Ayant toujours soif d'apprendre, je souhaite, bien sur continuer sur Rails, mais aussi apprendre Javascript, langage indispensable pour animer mes applications web.
        </p>
      </div>
      <div class="col-md-6">
        <div class="prof-personal-details">
          <h4>Details personnel</h4>
          <div>
            <p class="light"><b>Nom :</b> Eric Merlin</p>
            <p class="dark"><b>Birthday :</b> March 13, 1988</p>
            <p class="light"><b>Adresse :</b> 28120 Illiers-Combray</p>
            <p class="dark"><b>Email :</b> eric.merlin3@gmail.com</p>
            <p class="light"><b>Portable :</b> 06.26.63.31.47</p>
            <p class="dark"><b>Github:</b> www.Andersonsmith.com</p>
          </div>
        </div>
      </div>
    </article>
