<article class="common-inner animated clearfix" id="profile">
  <div class="common-image">
      <div class="image-cont"><%= image_tag("eric.jpg") %></div>
  </div>
  <div class="profile-cont">
    <div class="profile-top">
      <h2>Bonjour, je suis <span>Eric Merlin</span></h2>
      <h3>Web développeur Fullstack Ruby on Rails</h3>
    </div>
    <div class="row profile-col-cont">
      <div class="col-md-4 text-center"> <span class="icons"><i class="fa fa-code"></i></span>
        <h3>Programmation Web</h3>
        <p>Ruby, Ruby on Rails et prochainement jQuery et Javascript ...</p>
      </div>
      <div class="col-md-4 text-center"> <span class="icons"><i class="fa fa-html5"></i></span>
        <h3>Intégration Web</h3>
        <p>Html5, Css3, Twitter-Bootstrap, Sass, Compas ...</p>
      </div>
      <div class="col-md-4 text-center"> <span class="icons"><i class="fa fa-wrench"></i></span>
        <h3>Outils Web</h3>
        <p>Git et Github, Waffle, Stackoverflow ...</p>
      </div>
    </div>
    <div class="row profile-middle-content clearfix">
      <div class="col-md-6">
        <h3>Quelques mots pour me présenter ...</h3>
        <h4 style="margin-top:30px;">Les débuts d'une reconversion</h4>
        <p>
          Après avoir passé plus de 20 ans dans le Transport, il était temps de raccrocher la moto. J'ai alors décidé d'orienter ma reconversion professionnelle dans l'informatique et plus précisément le Web, secteur qui me passionne depuis toujours. J'ai donc candidaté à la Wild Code School où j'ai été admis pour la session Août 2015 - Janvier 2016. Motivé à 300% j'ai également suivi les cours et tutoriels OpenClassroom afin de préparer au mieux cette formation.
        </p>
        <p>Pendant ces 5 mois, je me suis orienté Ruby et Ruby on Rails. Ayant toujours soif d'apprendre, je souhaite, bien sur continuer sur Rails, mais aussi apprendre jQuery et Javascript, langages indispensables pour animer mes applications web.
        </p>
        <h4 style="margin-top:30px;">L'aboutissement d'une reconversion</h4>
        <p>
          A la sortie de la Wild Code School, j'ai fais un stage de 4 mois chez Poneo, une porteuse de projet. Pas d'équipe de développement, juste ma volonté et débrouillardise. A l'issue de ces quatres
          mois, Loic Boutet, d'hexagonal Consulting, m'a recruté en freelance afin de parfaire ma formation et de monter en compétences sur un projet interne. Au programme, Rails 5, des tests et encore des tests, Hyperloop (anciennement ReactRB), Sidekiq et bien d'autres choses...<br>
          J'ai également créé des sites internet en parallèle dont un sous LocomotiveCMS.<br>
          L'avanture continue !!!! 
        </p>
      </div>
      <div class="col-md-6">
        <div class="prof-personal-details">
          <h4>Details personnel</h4>
          <div>
            <p class="light"><b><i class="fa fa-user"></i>Nom :</b> Eric Merlin</p>
            <p class="dark"><i class="fa fa-map-marker"></i><b>Adresse :</b> 28120 Illiers-Combray</p>
            <p class="light"><i class="fa fa-envelope"></i><b>Email :</b> eric.merlin3@gmail.com</p>
            <p class="dark"><i class="fa fa-mobile"></i><b>Portable :</b> 06.26.63.31.47</p>
            <p class="light"><i class="fa fa-github"></i><b>Github :</b> <%= link_to "github.com/riquet28", 'https://github.com/riquet28', :target => "_blank" %></p>
            <p class="dark"><i class="fa fa-linkedin"></i><b>Linkedin : </b><%= link_to "linkedin.com/in/eric-merlin", 'https://fr.linkedin.com/in/eric-merlin-563464101', :target => "_blank" %></p>
          </div>
        </div>
      </div>
    </article>
