<article class="common-inner animated clearfix" id="blog">
  <div class="common-image">
    <div class="image-cont"><img src="img/eric.jpg" alt=""></div>
  </div>
  <div class="profile-cont">
    <div class="profile-top">
      <h2>Mes <span>Projets</span></h2>
      <h3>Coder, coder, toujours et encore !</h3>
    </div>
      <div class="row blog-middle-content clearfix">
        <div>
          <div class="col-md-4 blog-single slide_up">
            <div class="blog-img"> <img src="img/blog01.jpg" alt="">
              <div class="ico"><span><i class="fa fa-picture-o"></i></span></div>
            </div>
            <div class="blog-cont">
              <h4><a href="#">This is a standard blog format with good picture</a></h4>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur dolor sit amet adipisicing elit...</p>
              <p><a href="#" class="view-more">View More</a></p>
            </div>
            <div class="blog-links clearfix">
              <div><a href="#"><i class="fa fa-user"></i> Mark Ronald</a></div>
              <div><a href="#"><i class="fa fa-calendar"></i> 18 June 2014</a></div>
            </div>
          </div><!-- Fin .col-md-4 -->

          <div class="col-md-4 blog-single slide_up">
            <div class="blog-img"> <img src="img/blog02.jpg" alt="">
              <div class="ico"><span><i class="fa fa-video-camera"></i></span></div>
            </div>
            <div class="blog-cont">
              <h4><a href="#">This is a standard blog format with good picture</a></h4>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur dolor sit amet adipisicing elit...</p>
              <p><a href="#" class="view-more">View More</a></p>
            </div>
            <div class="blog-links clearfix">
              <div><a href="#"><i class="fa fa-user"></i> Mark Ronald</a></div>
              <div><a href="#"><i class="fa fa-calendar"></i> 18 June 2014</a></div>
            </div>
          </div><!-- Fin .col-md-4 -->

          <div class="col-md-4 blog-single slide_up">
            <div class="blog-img"> <img src="img/blog03.jpg" alt="">
              <div class="ico"><span><i class="fa fa-volume-up"></i></span></div>
            </div>
            <div class="blog-cont">
              <h4><a href="#">This is a standard blog format with good picture</a></h4>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur dolor sit amet adipisicing elit...</p>
              <p><a href="#" class="view-more">View More</a></p>
            </div>
            <div class="blog-links clearfix">
              <div><a href="#"><i class="fa fa-user"></i> Mark Ronald</a></div>
              <div><a href="#"><i class="fa fa-calendar"></i> 18 June 2014</a></div>
            </div>
          </div><!-- Fin .col-md-4 -->

        <div class="col-md-12 slide_up">
          <a href="#" class="blog-more"><span class="solid">View More <b>Blog</b></span></a>
        </div>
      </div>
    </div>
  </div>
</article>>
